/* 
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
		License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* 
		That's it for the "reset".  From here on is
		my own code.
		"GENERAL" stuff is used for all of my sites.
		"CUSTOM" stuff is for a specific instances...
*/


		
		
	/* 	=========================================
		GENERAL COMMON SELECTORS
		========================================= */

		html, body {
			position: relative;
			height: 100%;
			font-family: Verdana, Geneva, sans-serif;
		}
				
		main { padding: 1.5em 0; }
		
		section {
			width: 1200px;
			margin: 0 auto;
			position: relative;
		}

		main section {
			background-color: #fff;
			border: 1.5em solid transparent;
			box-sizing: border-box;
			overflow: hidden;
			position: relative;
			clear: both;
		}

		
		header { 
			padding: .6em .5em; background-color: #1c567e; color: #fff; 
			font-size: 4vw; letter-spacing: .1vw; font-weight: bold;
			text-shadow: 1px 1px 1px #000, 3px 3px 0px #999;
		}
		
		footer { 
			padding: 0; min-height: 200px; background-color: red;
		}		
		
		div.pre_footer { 
			padding: 1em 0 0 0;
			margin-bottom: 1.5em;
			border-bottom: 4px dotted #000;
			box-sizing: border-box;
			overflow: hidden;
		}
		
		h1 { 
			padding: 0.75em .5em .5em .25em; color: #000; 
			font-size: 6vw; letter-spacing: .1vw; font-weight: bold;
			text-shadow: 1px 1px 1px #fff, 3px 3px 0px #999;
			font-style: oblique;
		}

		h2 {
			font-size: 150%;
			font-weight: bold;
			margin-bottom: 0;
			line-height: 1.1;
		}

		h3 { font-size: 100%; line-height: 1.1; margin-bottom: .25em; }
		
		h4 {
			font-size: 100%;
			font-weight: bold;
			margin-bottom: .25em;
			line-height: 1.1;
		}		

		/* 	make paragraphs that are not last have a bottom margin, adapted from
		 	https://stackoverflow.com/questions/36321736/manage-margins-so-that-the-last-elements-have-no-margins
		*/
		p:not(:last-child) { margin-bottom:1em; }
		b { font-weight: bold; }
		i { font-style: oblique; }

		a:link, a:visited, a:hover, a:active { color: blue; }
		a.grey:link, a.grey:visited, a.grey:hover, a.grey:active { color: grey; }
		a.black:link, a.black:visited, a.black:hover, 
		a.black:active { color: black; }
		
		hr {
			clear: both;
			border-style: none;			
			height: 0;
			border-top: 5px solid #fff;
			margin: 20px 0 5px 0;
		}


		ol {
			list-style: decimal;
			margin-left: 1.25em;			
		}
		
		ul {
			list-style: disc;
			margin-left: 1em;
		}		



/* 	=========================================
		CUSTOM SELECTORS
		========================================= */

			div#hero {
				background-image: url(../images/hero_background_2.jpg);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				height: 200px;
			}

		div.top_gutter {
			border-top: 1.5em solid transparent;
		}		

		section.bottom_gutter {
			border-bottom: 0.2em solid transparent;
		}			

		div.hud {
			position: absolute;
			right: 10px;
			top: 10px;
			padding: .5em;
			
			box-sizing: border-box;
			background-color: #ffd700;
			margin-bottom: 10px;
			border: 3px solid #ffbf00;
			box-shadow: 2px 2px 7px black;
			line-height: 1.5;
			cursor: pointer;	

			max-width: 50%;	
		}
		
		div.panel { 
			/* background-color: Yellow; */
			min-height: 60px; 
			border-top: 4px dotted #000;
			margin-top: 2em;
			font-size: 130%;
			position: relative;
		}
		
		div.panel div.closed { padding: 4em 2em 2em 2em; line-height: 2; }
		
		button {
			margin-top: 10px;
			background: #3498db;
			background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
			background-image: -moz-linear-gradient(top, #3498db, #2980b9);
			background-image: -ms-linear-gradient(top, #3498db, #2980b9);
			background-image: -o-linear-gradient(top, #3498db, #2980b9);
			background-image: linear-gradient(to bottom, #3498db, #2980b9);
			-webkit-border-radius: 11;
			-moz-border-radius: 11;
			border-radius: 11px;
			font-family: 'Roboto Slab', serif;
			color: #ffffff;
			font-size: 20px;
			padding: 8px 20px 10px 20px;
			text-decoration: none;
			border-width: 3px;
		}

		button:hover {
			background: #3cb0fd;
			background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
			background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
			background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
			background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
			background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
			text-decoration: none;
			cursor: pointer;
		}		

		.grid_1 { grid-template-columns: 1fr; }		
		.grid_2 { grid-template-columns: 1fr 1fr; }
		.grid_3 { grid-template-columns: 1fr 1fr 1fr; }

		.grid_1, .grid_2, .grid_3 {
    	display: grid;
    	column-gap: 1.5em;
    	margin-bottom: 1.5em;
		}		

		.grid_1.tight, .grid_2.tight, .grid_3.tight {
    	margin-bottom: 0;
		}	
		
		.box {
			padding: 1em 1em 1.5em 1em;
			position: relative;
			font-size: 150%;
			background-color: #ccc;
			line-height: 1.5;
		}

		div.box.img div.content {
			display: flex;
			justify-content: center;
			height: 100%;
			/* background-color: #ccc; */
			align-items: center;
		}

		div.box.img { 
		  margin: 0;
    	  padding: 0;
		}
		div.box.img div.content img {  
		  height: 50vw;
    	max-height: 380px;		  
		}  
		
		div.scale_img div.content { width: 1200px; }
		div.scale_img { margin: 0; padding: 0; }
		div.scale_img div.content img { width: 100%; } 
		

/* 	=========================================
		COLORS and EFFECTS
		========================================= */

		html, body, footer {
			background-color: #1c567e;
		}

		main {
			background-color: #fff;
		}		
		
		.oswald 	{ font-family: 'Oswald', sans-serif;  }
		.verdana 	{ font-family: Verdana, Geneva, sans-serif; }
		.roboto 	{ font-family: 'Roboto Slab', serif;  }	
		.mono			{ font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; }	

		b.o, b.r, b.m { font-weight: normal; }
		b.o, h2				{ font-family: 'Oswald', sans-serif;  }
		b.r, h2				{ font-family: 'Roboto Slab', serif;  }
		b.m, h2				{ font-family: Courier New,Courier,Lucida Sans 	
										Typewriter,Lucida Typewriter,monospace; }	


		/* 	this dropcap code was adapted from
				https://www.newyorker.com/ */
		div.dropcap::first-letter,
		p.dropcap::first-letter {
			/* font-family: TNYAdobeCaslonPro, "Times New Roman", Times, serif; */
			font-family: 'Roboto Slab', serif;
			letter-spacing: normal;
			line-break: auto;
			line-height: 1em;
			font-size: 73px;
			font-weight: 400;
			overflow-wrap: normal;
			float: left;
			margin-bottom: -0.3em;
			padding: 0px 0.05em 0px 0px;
		}

		div.box.highlighted {
		  background-color: transparent;	
		  padding: 0;
			width: 80%;
			line-height: 1.2;
		}

		div.box.highlighted.blue .content {
			color: #fff; background-color: #1c567e; 
			border: 5px solid #1c2951;
		}
		
		div.box.highlighted .content {	
		  position: absolute;
			top: 50%;
			transform: translateY(-50%);
			text-align: left;
		  padding: .75em .75em;
		}

		div.box.centered {
			background-image: url('../images/sunset.png');	
			background-size: 100%;
			background-repeat: no-repeat;
		}
		
		div.box.centered .content {	
			display: flex;
			justify-content: center;
			height: 100%;
			align-items: center;
			padding-top: 56.25%;
			margin-top: .75em;
			box-sizing: border-box;			
		}
		
		/* font sizing  */
		.tiny { font-size: 72%; }
		.small { font-size: 80%; }
		.big { font-size: 120%; letter-spacing: 1px; }
		.huge { font-size: 150%; letter-spacing: 1px; }
		h2.colossal { 
			font-size: 80px; letter-spacing: 1px; 
			line-height: 1; margin: 0; padding: 0;
		}
		
		/* colors */	
		div.box.white { background-color: #fff;  }
		div.box.ltgrey { background-color: #eee; }
		div.box.wide {
			padding-left: 0; padding-right: 0; background-color: transparent;
		}			

		div.hint { font-size: 72%; line-height: 1.1; font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; }
		
/* 	=========================================
		MOBILE AND NARROW DEVICES
		========================================= */

@media all and (max-width: 1190px) { 

	html, body {
		/* background-color: #ffffe0;	 */
		background-color: #fff;	
	}

	header { 
		padding: 1em 1.25em; 
		font-size: 7vw; letter-spacing: .2vw; font-weight: bold;
		text-shadow: 1px 1px 1px #000, 2px 2px 0px #999;
	}
		
	main { padding: 0; }
	
	section { width: 100%; }
	
	main section {
		border: none;
	}	

	div.top_gutter { border-top: none; }
	section.bottom_gutter { border-bottom: none; }	

	h1 { 
		padding: 2em .5em .5em .5em; color: #000; 
		font-size: 45px; letter-spacing: 2px; font-weight: bold;
		text-shadow: 1px 1px 1px #fff, 3px 3px 0px #999;
		line-height: 1.1;
	}		
	
	.grid_1, .grid_2, .grid_3  { display: block; margin-bottom: 0; }
	
	.grid_1 { grid-template-columns: 1fr; }
	.grid_2 { grid-template-columns: 1fr 1fr; }
	.grid_3 { grid-template-columns: 1fr 1fr 1fr; }
	
	div.box { margin: 0; padding: 1.5em .75em 1.5em 1em; 
		/* border-top: 5px solid #999; */
	}
	div.box.white { border: none; padding: 1em; }
	div.box.highlighted { width: 100%; }
	div.box.highlighted .content {
	  position: static;
    transform: none;
		border: none;
	  padding: 1.5em 1em 1.75em 1.5em;
	  font-size: 100%;
		line-height: 1.5;
	}
	
	div.box.wide {
		padding-left: 1em; padding-right: 1em;
	}		

	div.scale_img { 
		padding: 1em 2em 0em 2em; box-sizing: border-box;
	}	
	div.scale_img img { width: 100%; }

	div.hud { max-width: 35%; } 
	
	div.box.centered { margin-bottom: 1em; } 
}





/* 	=========================================
		QUIRKY THINGS
		========================================= */


		div.spinner {
			visibility: visible;
			width: 32px;
			height: 32px;
			line-height: 0;
			position: relative;
			top:-16px;
			right: -1px;
			display: inline-block;
			width: 0px;
		}

		div.spinner.active {
			background-image: url('../images/spinner.gif');
			display: inline-block;
			width: 32px;
		}



		
		/* break long words */
		.break_me {
			overflow-wrap: break-word;
			word-wrap: break-word;
			word-break: break-all;
			word-break: break-word;
			hyphens: auto;
		}
		
		.clr { clear: both; }

/* 	=========================================
		DEBUGGING
		========================================= 

		main section {
			background-color: Orange;
			border: 1em solid Red;
		}		

		div.box.centered .content {	
			background-color: pink;
		}	
		
		*/
		
		main {
			background-color: #eee;	
		}
		
		
		