/* 
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
		License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* 
		That's it for the "reset".  From here on is
		my own code.
		"GENERAL" stuff is used for all of my sites.
		"CUSTOM" stuff is for a specific instances...
*/


		
		
	/* 	=========================================
		GENERAL COMMON SELECTORS
		========================================= */

		html, body {
			position: relative;
			height: 100%;
		}
				
		section {
			width: 1200px;
			margin: 0 auto;
			position: relative;
		}
		
		header { 
			padding: .6em .5em; background-color: #1c567e; color: #fff; 
			font-size: 4vw; letter-spacing: .1vw; font-weight: bold;
		}
		
		footer { padding: 0; height: 200px; background-color: red; }		
		
		h1 { font-size: 200%; }

		h2 {
			font-size: 150%;
			font-weight: bold;
			margin-bottom: 1em;
		}

		h3 { font-size: 100%; }
		
		h4 {
			font-size: 100%;
			font-weight: bold;
			margin-bottom: .25em;
		}		

		/* 	make paragraphs that are not last have a bottom margin, adapted from
		 	https://stackoverflow.com/questions/36321736/manage-margins-so-that-the-last-elements-have-no-margins
		*/
		p:not(:last-child) { margin-bottom:1em; }
		b { font-weight: bold; }
		i { font-style: oblique; }

		a:link, a:visited, a:hover, a:active { color: blue; }
		a.grey:link, a.grey:visited, a.grey:hover, a.grey:active { color: grey; }
		a.black:link, a.black:visited, a.black:hover, 
		a.black:active { color: black; }
		
		hr {
			clear: both;
			border-style: none;			
			height: 0;
			border-top: 5px solid #fff;
			margin: 20px 0 5px 0;
		}


		ol {
			list-style: decimal;
			margin-left: 1.25em;			
		}
		
		ul {
			list-style: disc;
			margin-left: 1em;
		}		

	/* 	=========================================
		CUSTOM SELECTORS
		========================================= */

			div#hero {
				background-image: url(../images/hero_background_2.jpg);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				height: 200px;
			}

		div.top_gutter {
			border-top: 1.5em solid transparent;
		}		

		section.bottom_gutter {
			border-bottom: 0.2em solid transparent;
		}			

		.grid_1 { grid-template-columns: 1fr; }		
		.grid_2 { grid-template-columns: 1fr 1fr; }
		.grid_3 { grid-template-columns: 1fr 1fr 1fr; }

		.grid_1, .grid_2, .grid_3 {
    	display: grid;
    	column-gap: 1.5em;
    	margin-bottom: 1.5em;
		}		

		.box {
			padding: 1em;
			position: relative;
			font-size: 150%;
			background-color: #ccc;
			line-height: 1.5;
		}

		div.box.img div.content {
			display: flex;
			justify-content: center;
			height: 100%;
			/* background-color: #ccc; */
			align-items: center;
		}

		div.box.img { 
		  margin: 0;
    	  padding: 0;
		}
		div.box.img div.content img {  
		  height: 50vw;
    	  max-height: 380px;		  
		}  

	/* 	=========================================
		COLORS and EFFECTS
		========================================= */

		html, body, footer {
				background-color: #1c567e;
		}

		main {
				background-color: #fff;
				border-top: 1px solid transparent;
		}		

		.oswald 	{ font-family: 'Oswald', sans-serif; }
		.verdana 	{ font-family: Verdana, Geneva, sans-serif; }
		.roboto 	{ font-family: 'Roboto Slab', serif; }	
		.mono		{ font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; }	

		/* 	this dropcap code was adapted from
				https://www.newyorker.com/ */
		div.dropcap::first-letter,
		p.dropcap::first-letter {
			/* font-family: TNYAdobeCaslonPro, "Times New Roman", Times, serif; */
			font-family: 'Roboto Slab', serif;
			letter-spacing: normal;
			line-break: auto;
			line-height: 1em;
			font-size: 73px;
			font-weight: 400;
			overflow-wrap: normal;
			float: left;
			margin-bottom: -0.3em;
			padding: 0px 0.05em 0px 0px;
		}

		div.box.middle {
		  background-color: transparent;	
		  padding: 0;
		}

		div.box.middle .content {	
		  position: absolute;
    	  top: 50%;
    	  transform: translateY(-50%);
    	  text-align: left;
		  padding: 1em 1.25em;
		}

		/* colors */	
		div.box.white { background-color: #fff;  }
		div.box.ltgrey { background-color: #eee; }
		div.blue_bordered { background-color: #1c567e; border: 3px solid #000080;
			color: #fff; font-size: 80%; line-height: 1.25; }

		div.hint { font-size: 72%; line-height: 1.1; font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; }

/* 	=========================================
		MOBILE AND NARROW DEVICES
		========================================= */

@media all and (max-width: 1190px) { 

	html, body {
	background-color: #ffffe0;	
	}
	
	main {
		border-top: none; /* HACK */
	}
	
	section { width: 100%; }

	div.top_gutter { border-top: none; }
	section.bottom_gutter { border-bottom: none; }	

	.grid_1, .grid_2, .grid_3  { display: block; margin-bottom: 0; }
	
	.grid_1 { grid-template-columns: 1fr; }
	.grid_2 { grid-template-columns: 1fr 1fr; }
	.grid_3 { grid-template-columns: 1fr 1fr 1fr; }
	div.box { margin: 0; padding: 1em .75em 1em 1em; border-top: 5px solid #999; }

	div.box.white { border: none; padding: 1em; }

	div.box.middle .content {
	  position: static;
      transform: none;
	  padding-top: 1.5em 1em 2em 1.5em;
	  font-size: 100%;
	}

}